body {
  display: flex;
  flex-direction: column;
}

.custom-fill-body {
  flex: 1;
}

.custom-one-rem-padding {
  padding: 1rem;
}

.custom-little-padding {
  padding: 0.5rem;
}

.custom-footer-color {
  background-color: #363636;
}
